<h1>Teams</h1>
<h3><a href="/">Home</a></h3>
<h3><a href="/positions/">Positions</a></h3>
<ul>
  <% @team_names.each do |name| %>
    <a href="/teams/<%= name %>">
      <li><%= name %></li>
    </a>
  <% end %>
</ul>
